{% load staticfiles %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="{% static 'invites/sweetalert.js' %}"></script>

    <!-- Include a polyfill for ES6 Promises (optional) for IE11 and Android browser -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>

    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style>
        /*
    /* Created by Filipe Pina
     * Specific styles of signin, register, component
     */
        /*
         * General styles
         */
        #playground-container {
            height: 500px;
            overflow: hidden !important;
            -webkit-overflow-scrolling: touch;
        }

        body, html {
            height: 100%;
            background-repeat: no-repeat;
            background: url(https://media.istockphoto.com/photos/gray-abstract-background-picture-id481056004?k=6&m=481056004&s=612x612&w=0&h=V5AWzkL1wiYvIPi8ekxcY-KB0k_qSxdGMEqSgII6AU0=);
            font-family: 'Oxygen', sans-serif;
            background-size: cover;
        }

        {#.main {#}
        {#    margin: 50px 15px;#}
        {#}#}

        h1.title {
            font-size: 50px;
            font-family: 'Passion One', cursive;
            font-weight: 400;
        }

        hr {
            width: 10%;
            color: #fff;
        }

        .form-group {
            margin-bottom: 15px;
        }

        label {
            margin-bottom: 15px;
        }

        input,
        input::-webkit-input-placeholder {
            font-size: 11px;
            padding-top: 3px;
        }

        .main-login {
            background-color: #fff;
            /* shadows and rounded borders */
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

        }

        .form-control {
            height: auto !important;
            padding: 8px 12px !important;
        }

        .input-group {
            -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.21) !important;
            -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.21) !important;
            box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.21) !important;
        }

        #button {
            border: 1px solid #ccc;
            margin-top: 28px;
            padding: 6px 12px;
            color: #666;
            text-shadow: 0 1px #fff;
            cursor: pointer;
            -moz-border-radius: 3px 3px;
            -webkit-border-radius: 3px 3px;
            border-radius: 3px 3px;
            -moz-box-shadow: 0 1px #fff inset, 0 1px #ddd;
            -webkit-box-shadow: 0 1px #fff inset, 0 1px #ddd;
            box-shadow: 0 1px #fff inset, 0 1px #ddd;
            background: #f5f5f5;
            background: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee));
            background: -webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
            background: -o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
            background: -ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
            background: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0);
        }

        .main-center {
            margin-top: 30px;
            margin: 0 auto;
            max-width: 400px;
            padding: 10px 40px;
            background: #735726;
            color: #FFF;
            text-shadow: none;
            -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.31);
            -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.31);
            box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.31);

        }

        span.input-group-addon i {
            color: #533f1c;
            font-size: 17px;
        }

        .login-button {
            margin-top: 5px;
        }

        .login-register {
            font-size: 11px;
            text-align: center;
        }

        .center {
            padding-left: 50%;
            align-content: center;
        }

    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Website CSS style -->


    <!-- Website Font style -->
    <script src="https://use.fontawesome.com/ace8172281.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

    <title>Admin</title>
</head>
<body>
<div class="container">
    <div class="row main">
        <div class="main-login main-center" style="margin-top: 15%">
            <center><h3>RSVP</h3></center>
            <form class="" method="post" action="#">

                {% csrf_token %}

                <div class="form-group" style="display: none">
                    <label for="name" class="cols-sm-2 control-label">Your Name</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            {{ forms.name | add_class:'form-control' }}
                        </div>
                    </div>
                </div>

                <div class="form-group" style="display: none">
                    <label for="email" class="cols-sm-2 control-label">Your Email</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            {{ forms.email | add_class:'form-control' }}
                        </div>
                    </div>
                </div>

                <div class="form-group" style="display: none">
                    <label for="username" class="cols-sm-2 control-label">Mobile Number</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                            {{ forms.phone | add_class:'form-control' }}
                        </div>
                    </div>
                </div>
                <div class="form-group" style="display: none">
                    <label for="username" class="cols-sm-2 control-label">Mobile Number</label>
                    <div class="cols-sm-10">

                        <div class="input-group">

                            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                            {{ forms.is_attending }}</div>
                    </div>
                </div>
                <div class="form-group" style="display: none">
                    <label for="username" class="cols-sm-2 control-label">Mobile Number</label>
                    <div class="cols-sm-10">

                        <div class="input-group">

                            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                            {{ forms.submitted_at }}</div>
                    </div>
                </div>

                <div class="form-group">

                    <label for="username" class="cols-sm-2 control-label" ></label>
                    <div class="cols-sm-10">

                        <div class="input-group"
                             style="-webkit-box-shadow: none !important;-moz-box-shadow: none !important;box-shadow: none !important;">
                            <center>
                                <div style="padding:5px"><a id="yesb" onclick="changecolor();" href="#"
                                                            style="border-color: white;color: white;font-size: 20px"
                                                            class="btn btn-outline-success">Delighted to be there</a>
                                    </div>

                                <div style="padding:5px">
                                    <a id="tryb" onclick="changecolor1();" href="#"
                                       style="border-color: white;color: white;font-size: 20px"
                                       class="btn btn-outline-warning">Trying to Reschedule</a>
                                </div>
                                <div style="padding:5px">
                                    <a id="nob" onclick="changecolor2();" href="#"
                                       style="border-color: white;color: white;font-size: 18px"
                                       class="btn btn-outline-danger">Will miss the celebration</a>
                                </div>

                            </center>
                        </div>
                    </div>

                </div>


                <div class="form-group " id="subbtn" style="display: none ">
                    <input type="submit" value="Submit"
                           class="btn btn-primary btn-lg btn-block login-button">


                </div>

            </form>
        </div>
    </div>
</div>
<script>
    if ({{ swal_value }}) {
        swal(
            'Cool!',
            'We got your Response!',
            'success'
        )
    }
    var is_attending = -1;

    function changecolor() {
        is_attending = 0;
        document.getElementById("id_is_attending").selectedIndex = 0;
        document.getElementById('yesb').style.backgroundColor = "green";
        document.getElementById('nob').style.backgroundColor = "transparent";
        document.getElementById('tryb').style.backgroundColor = "transparent";
        document.getElementById("subbtn").style.display = "block";
    }


    function changecolor1() {
        document.getElementById("id_is_attending").selectedIndex = 1;
        document.getElementById('yesb').style.backgroundColor = "transparent";
        document.getElementById('nob').style.backgroundColor = "transparent";
        document.getElementById('tryb').style.backgroundColor = "#cccc00";
        document.getElementById("subbtn").style.display = "block";
    }

    function changecolor2() {
        is_attending = 2;
        document.getElementById("id_is_attending").selectedIndex = 2;

        document.getElementById('nob').style.backgroundColor = "red";
        document.getElementById('tryb').style.backgroundColor = "transparent";
        document.getElementById('yesb').style.backgroundColor = "transparent";
        document.getElementById("subbtn").style.display = "block";
    }


</script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
</body>
</html>


{#{{ forms.as_p }}#}